body {
    font-family: "Balsamiq Sans", cursive;
  }
  
  .container-fluid {
    margin: 5px;
  }
  
  .header {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
  }
  
  .side {
    border-style: solid;
    height: 700px;
    background-color: lightgray;
    margin-top: 7px;
  }
  
  .dashboard {
    border-style: solid;
    background-color: lightyellow;
    margin: 7px;
  }
  .row {
    margin-left: 20px;
    height: 275px;
  }
  
  .forecast {
    border-style: solid;
    background-color: lightblue;
    height: 275px;
    margin: 7px;
  }

  #button {
    background-color: lightyellow;
  }

  .forecastDiv {
    background-color: rgb(40, 74, 185);
    margin: 10px;
    border-style: solid;
    width: 15%;
    height: 200px;
    float: left;
    text-align: center;
    color: white;
  }