body {
    font-family: "Balsamiq Sans", cursive;
  }
  
  .container-fluid {
    margin: 5px;
  }
  
  .header {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
  }
  
  .side {
    border-style: solid;
    height: 700px;
    background-color: lightgray;
  }
  
  .dashboard {
    border-style: solid;
    background-color: lightyellow;
  }
  .row {
    margin-left: 20px;
    height: 275px;
  }
  
  .forecast {
    border-style: solid;
    background-color: lightblue;
    height: 275px;
  }

  #button {
    background-color: lightyellow;
  }